* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: #ab977d;
  font-family: "Times New Roman", Times, serif;
  width: 100%;
}

.header-text {
  font-size: 60px;
  height: 20%;
  padding: 40px;
  display: flex;
  color: #7a9e7d;
}

header {
  display: flex;
  background-color: #2d351a;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.links {
  margin-right: 40px;
  font-size: 28px;
}

button:hover {
  background-color: #772014;
  border: solid;
  font-size: larger;
}

.tabs {
  color: #ab977d;
  margin: auto 10px;
}

.portfolio {
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.profile-picture {
  width: 28%;
  height: 100%;
  border-radius: 50%;
  margin: 10px auto;
  border: solid;
}

.Projects {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding-right: 300px;
}

.topics {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.Contact-info {
  display: flex;
  margin-left: 50px;
  padding-right: 300px;
}

.heads {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 40px;
  padding: 90px;
  padding-left: 80px;
}

.areas {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 25px 150px;
  background: #7a9e7d;
  border: 2px solid black;
}

.about-me-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.info {
  display: flex;
}

.work-img-1 {
  width: 100%;
  height: 20vh;
}

.info {
  font-size: 20px;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  margin-left: 150px;
}

.blue:hover {
    height: 25vh;
    width: 105%;
}

.green:hover {
    height: 25vh;
    width: 105%;
}

.red:hover {
    height: 25vh;
    width: 105%;
}

footer {
  padding: 30px;
}

@media screen and (min-width: 400px) {
    .projects {
      flex-basis: 100%;
      width: 50%;
     }
}

@media screen and (max-width: 700px) {
    .about-me-info, .Projects, .areas {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 20%;
    }
}

@media screen and (max-width: 700px) {
    .Contact-info {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: auto 1px;
        
    }
}
@media screen and (max-width: 700px) {
    .heads {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 1px;
    font-size: 15px;
    }
}
@media screen and (max-width: 700px){
    .tabs{
        float: left;
        text-align: left;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: auto; 
    }
}
@media screen and (max-width: 700px) {
    .info, .topics {
     display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 1px;
    font-size: 18%;
    }
}
@media  screen and (max-width: 430px) {
  header {
    display: flex;
    flex-direction: column;
  }
}